span {
  font-size: 18px;
  font-family: Arial;
  font-weight: lighter;
  font-style: italic;
  text-decoration: line-through fuchsia;
  color: blue;
  cursor: pointer;
  white-space: nowrap;
  text-transform: uppercase;
}

h1 {
  color: green
}
body{
  background-color: whitesmoke;
}
.block-container {
  height: 100px;
  width: 200px;
  background-color: lightblue;
}
.container {
text-decoration: underline firebrick;
}
.inline-container {
  height: 100px;
  width: 200px;
  background-color: lightgreen;
}

.phrase-1 {
  color: red;
  text-align: center;
}