@mixin onDesktop {
  @media (min-width: 1000px) {
    @content;
  }
}

@mixin onDesktopBig {
  @media (min-width: 1400px) {
    @content;
  }
}

@mixin onTablet {
  @media (min-width: 744px) {
    @content;
  }
}

* {
  box-sizing: border-box;
}

body, 
section,
article,
img
 {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
}

.people {
  padding-top: 30px;
  margin: 0 auto;
  max-width: 1300px;
  display: grid;
  justify-content: center;
  align-items: stretch;
  grid-template-columns: repeat(2, 200px);
  column-gap: 30px;

  @include onTablet {
    column-gap: 30px;
  }

  @include onDesktop {
    grid-template-columns: repeat(4, 200px);
    column-gap: 30px;
  }

  @include onDesktopBig {
    grid-template-columns: repeat(4, 200px);
    column-gap: 30px;
  }
}

.athlete {
  
  display: block;
  cursor: pointer;
  transition: transform 1s; 
  
  &:hover {
    z-index: 5;
    background: #EEEEEE;
    border-radius: 10px;
    transform: scale(1.09);
    
    img {
      border-radius: 60px;
    }

    .athlete__extra {
      opacity: 1;
    }
    .athlete__details {
      background: inherit;
      border-radius: inherit;
    }
  }

  &__photo {
    position: relative;
    width: 200px;
    height: 200px;
  }

  &__avatar {
    width: 200px;
    height: 200px;
    transition: border-radius 1s;
    border-radius: 50%;
  }

  &__rank {
    position: absolute;
    right: 10px;
    top: 84px;
    width: 32px;
    height: 32px;
    display: inline-block;
    background-color: #fff;
    color: #8b0000;
    border: 1px solid #fff;
    border-radius: 50%;
    text-align: center;
    font-size: 16px;
    line-height: 32px;
  }

  &__details {
    text-align: center;
  }

  &__name {
    display: block;
    margin-top: 8px;
    font-size: 20px;
    line-height: 23px;
  
    text-align: center;
  
    color: #2F4F4F;
  }

  &__extra {
    display: inline-block;

    font-family: Arial, Helvetica, sans-serif;
    
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    padding: 9px 33px 16px;
    color: #000000;
    opacity: 0;
  }

  &__sport {
    &::after {
      content: ",";
    }
  }

  &__pay {
    &::before {
      content: "$";
    }
    &::after {
      content: "M";
    }
  }
}
